<h2>About us..</h2>

<h3>Me</h3>

<p>Hi! , the name is Minor Alvarez, from Costa Rica. I'm .Net developer since 2008.</p>

<h3>The situation</h3>

<p>In this example, we were asked for a rock, paper, scissors game. The game is defined as a bracketed array as follows:</p>
<p><strong>[[ "Armando", "P" ], [ "Dave", "S" ]]</strong></p>
<p>As you can see, a rock-paper-scissors game is encoded as a list, where the elements are 2-element lists that encode a player’s name and a player’s strategy.</p>
<p>Adittionally, we can have a tournament. That it, a list of games.</p>
<p>Maybe, we can split the data using regular expressions. I'm not the best creating them, so I decided to process the data by myself</p>
<p>I noticed a pattern on the brackets, so I decided to follow it. How? well, by counting them. Something like:</p>
<p>1 opening bracket means a game, 2 opening brackets mean a torunament, and 3 opening brackets mean an array of tournaments (may have commas).</p>
<p>that's a short way to explain it.</p>

<h3>Technologies</h3>
<p>One of the requirements was to create a RESTFull API. I decided to create it using Visual Studio (Community), due to is the tool I use the most.</p>
<p>The Server used is Microsoft SQL Server, due the same reason</p>
<p>Finally, this website it's a MVC website (yes, Visual Studio too! he he). I decided to use MVC because it lighter than the old web forms.</p>