<h2>Upload..</h2>

<h3>Upload a .txt file</h3>

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { EncType = "multipart/form-data" }))
{
    <input type="file" id="file1" name="file1" />
    <input type="submit" value="Process" />
}

<h2> @ViewBag.result</h2>

<hr />

Reset